body {
  margin: 0;
  background: #222222;
}

main {
  background: black;
  border: 1px solid white;
  box-shadow: 0 4px 8px -4px black;
  margin: 20px 50px;
  padding: 20px;
}

* {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}